.child{
   width: 700px;
    height: 400px;
    background-color: white; 
    padding: 20px;
    margin-left: 100px;
    margin-top: 50px;
}

 .labels{
    
    margin: 50px;
 }
 .para{
     float: left;
     margin:10px;
 }
 .button{
     background-color: white;
 }